.banner{
    width:100%
}
li a{
    display:inline;
    float:left;
    background-color: gray;
    color:white;
    padding: 15px;
}
body{
    background-color: black;
    color: white;
}
footer{
    text-align: center;
    background-color: rgb(36, 28, 28);
}
nav li{
    float: right;
    display:inline;
    margin:10px;
    padding:10px;
}
.menu{
    background-color:white;
    width:10px
    colour:withe;
    background-color: gray;
    ;
}

h1.paragraf{
    text-align: center;
}